.pixel-card {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

/* CONTENT */
.pixel-content {
  position: relative;
  z-index: 1;
}

/* CANVAS DI ATAS */
.pixel-canvas {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none; /* 🔥 penting */
}

/* optional glow */
.pixel-card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 3;
  background: radial-gradient(circle, #09090b, transparent 85%);
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
}

.pixel-card:hover::before,
.pixel-card:focus-within::before {
  opacity: 1;
}
